{% extends "base.html" %}

{% block title %}Update Subject{% endblock %}

{% block currentprofile %}{{user}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4"><h1>Update a Subject</h1></div>                      
        </div>
    </div>
    <form method="post">
        <table>
            <div class="container">
                <div class="fieldWrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12"><div class="p-3"></div>                     
                        </div>
                    </div>
                    <div class="container">
                        <div class="row col-sm-12 align-items-center justify-content-center">
                            <div class="col-sm-2"><label for="{{ form.name.id_for_label }}">Subject: </label></div>
                            <div class="col-sm-2">{{ form.name }}</div>
                            <div class="col-sm-2">{{ form.name.errors }}</div>                        
                        </div>
                    </div>
                    <div class="col-sm-12"><div class="p-1"></div> 
                    <div class="container">
                        <div class="row col-sm-12 align-items-center justify-content-center">
                            <div class="col-sm-2"><label for="{{ form.description.id_for_label }}">Description:</label></div>                        
                            <div class="col-sm-2">{{ form.description }}</div>
                            <div class="col-sm-2">{{ form.description.errors }}</div> 
                        </div>
                    </div>
                    <div class="col-sm-12"><div class="p-1"></div>
                    <div class="container">
                        <div class="row col-sm-12 align-items-center justify-content-center">
                            <div class="col-sm-2"><label for="{{ form.required_level.id_for_label }}">Field:</label></div>                        
                            <div class="col-sm-2">{{ form.field }}</div>
                            <div class="col-sm-2">{{ form.field.errors }}</div> 
                        </div>
                    </div>
                    <div class="col-sm-12"><div class="p-1"></div>
                    <div class="container">
                        <div class="row col-sm-12 justify-content-center">
                            {% csrf_token %}                       
                            <div class="col-sm-2"><button class="btn btn-md btn-success" type="submit">Update Subject</button></div>
                        </div>
                    </div>                 
                </div>
            </div>
        </table>
    </form>
    {{ form.non_field_errors }}
    
{% endblock %}

